*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
    font-weight: bolder;

}
.navbar{
    background:whitesmoke;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999999;
    border-bottom:2px solid black;
    
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 120px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}
.navbar-logo {
color: black;
justify-content: center;
background-size: 100%;
text-align: center;
padding-top: 30px;
text-decoration: none;
font-size: 3rem;
text-shadow: 3px 3px royalblue;
z-index: 99999;
}
.navbar-logo span{
    display: inline-block;
    margin: -6px;
    animation: animate 3s ease-in-out infinite;
    animation-iteration-count: 1;
    animation-delay: calc(0.1s * var(--i));
}
.navbar-logo span:hover{
    display: inline-block;
    margin: -6px;

}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-7px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
#space{
    opacity: 0;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar__item{
height: 60px;

}
.navbar__links{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px ;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #6688CC;
    background: -webkit-linear-gradient(to right orange, orangered, red );
    background: linear-gradient(to right orange, orangered, red );
    color: white;
    transition: all 0.3s ease;
    font-size: 25px;
}
.button:hover{
    color: lightgray;
    transition: all 0.3s ease;
}
.navbar__links:hover{
    color: #6688CC;
    transition: all 0.3s ease;

}
@media screen and (max-width: 1280px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1500px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;

    }
    .navbar__menu.active{
        padding-top: 90px;
        background: white;
        top: 0%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.5rem;
        border-bottom:2px solid black;
    }
    #navbar__logo{
        padding-left: 35px;
        margin-top: -23px;
       align-items: center;
       justify-content: center;
       text-align: center;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }
    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }
    .navbar__btn{
        padding-bottom: 2rem;
        color: black;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: 0;
    }
    #mobile-menu{
        position: absolute;
        top: 33%;
        right: 5%;
        transform: translate(3%, 5%);
        z-index: 999;
        border-bottom: black;
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }
}


.about{
    background: white;
    background: linear-gradient(to top white, black);
    padding: 75px 0px;
}
.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    padding: 30px 100px;
}
#header{
    font-size: 75px;
    margin-bottom: 24px;
    margin-top: 10px;
    color: royalblue;
    text-shadow: 3px 3px #6688CC;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}
#header span{
    font-size: 40px;
    text-shadow: 2px 2px #6688CC;
}
.intro{
    font-size: 30px;
    margin-bottom: 24px;
    color: rgb(51, 51, 51);
    text-shadow: 2px 2px #6688CC;
    text-transform: uppercase; 
    font-weight: bold;
}
.overview{
    padding-top: 20px;;
    color: black;
    font-size: 20px;

}
.highlight{
    border-bottom: 3px solid royalblue;
}
@media screen and (max-width: 768px){
    #header{
    font-size: 50px;
    } 
    .overview{
        font-size: 20px;
      }
}
.cardContent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.card{
    text-align: center;
    display:flex;
    justify-content: center;
    position:relative;
    width:450px;
    height:600px;
    background: rgb(175, 175, 175);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s;
}
.card .info{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 30px;
    z-index: 9;
}
.cardItem{
    padding: 10px 0px;
    font-weight: bolder;
}
.FAU img{
    padding-top: 10px;
    height: 45px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.cardHeader{
    padding: 15px 0px;
    font-size: 25px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px #ACBFE6;
    color: white;
}
.content{
    padding: 30px 10px;
    font-size: 15px;
}
.socialicons{
    display: fixed;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.card:hover .imgBox{
    -webkit-transform: translateX(-100%);
    color: lightcyan;
    position: relative;
    z-index: 1;
}
.card:hover{
    -webkit-transform: translateX(50%);
    position: reletive;
    z-index: 1;
}
.imgBox{
    position: flex;
    width: 100%;
    height: 100%;
    z-index:99;
    transform-origin: left;
    transform-style: preserve-3d;
    background: black;
    transition: 1s;
}
.card .imgBox img{
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
}
@media screen and (max-width: 1080px){
    .card{
        text-align: center;
        display:flex;
        justify-content: center;
        position:relative;
        width:350px;
        height:500px;
        background: lightgray;
    }
    .content{
        padding: 20px 7px;
        font-size: 10px;
    }
    .card .imgBox{
        opacity: 0;
    }
    .card:hover{
        position: relative;
        z-index: 1;
        -webkit-transform: translateX(0%);
    }
    .card:hover .imgBox{
        color: lightcyan;
        position:relative;
        z-index: 1;
     -webkit-transform: translateX(0%);
    }
}


.skills{
    background: rgb(240, 240, 240);
    background: linear-gradient(to top grey, black);
    padding: 75px 0px;
}
.skills__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    padding: 30px 100px;
}
.skills__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
}
.pop {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: black;
    padding: 40px;
    filter: drop-shadow(-3px -3px 2px rgba(27, 27, 27, 0.377))
            drop-shadow(5px 5px 5px rgba(43, 42, 42, 0.534))
            drop-shadow(15px 15px 15px rgba(49, 49, 49, 0.562));
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill{
    padding:30px;
}
.classes{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: inline-flex;
    background-color: rgb(170, 169, 169);
    border-radius: 20px;
    text-align: center;
    padding-top: 25px;
}
.relevent{
    width:50%;
    display: flex;
    padding: 40px;
    justify-content: center;
}
.spring{
    width:50%;
    display: flex;
    padding: 40px;
    justify-content: center;
}
.class{
    padding:10px;
    font-size: 25px;
    display: inline;
    width:max-content;
    height: 0%;
    align-items: center;
    text-align: center;
    justify-content:center;
}
.c{
    padding:10px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding: 40px;
    filter: drop-shadow(-2px -2px 2px rgba(27, 27, 27, 0.377))
            drop-shadow(4px 4px 4px rgba(43, 42, 42, 0.534))
            drop-shadow(10px 10px 10px rgba(49, 49, 49, 0.562));
        justify-content: center;
        text-align: center;
}
@media screen and (max-width: 1180px){
    .skills__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: max-content;
    }
    .skills__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;
        padding: 30px 100px;
    }
    .pop {
        font-weight: bolder;
        font-size: 25px;
        color: black;
        padding: 40px;
        filter: drop-shadow(-3px -3px 2px rgba(27, 27, 27, 0.377))
                drop-shadow(5px 5px 5px rgba(43, 42, 42, 0.534))
                drop-shadow(15px 15px 15px rgba(49, 49, 49, 0.562));
  
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: cursive;
    }
    .class{
        padding:10px;
        font-size: 15px;
        display: inline;
        width:max-content;
        height: 0%;
        align-items: center;
        text-align: center;
        justify-content:center;
    }
}
.projects{
    background: white;
    background: linear-gradient(to top grey, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 75px 0px;
}
.project__contain{
    padding:30px;
}
.projects__container{
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto; 
    height: 100%;
}
.project__card{
    margin: 0 auto;
    height:450px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    transition: 0.3s ease-out;
    align-items: center;
}
.project__card h2{
    text-align: center;
    font-size: 25px;
    padding: 15px;
}
.project__card p{
    text-align: center;
    margin-top: 24px;
    font-size: 15px;
    padding: 10px;
}
.project__card button{
    text-align: center;
    color:  whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    height: 30px;
    width: 60px;
    background: royalblue;
    justify-content: center;
}
.project__card button:hover{
    cursor: pointer;
}
.project__card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
    cursor:pointer
}
.projects__c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
}
@media screen and (max-width:1475px){
    .projects__c{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }
}
@media screen and (max-width:1000px){
    .projects__c{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .project__card{
        height:600px;
        width: 450px;
        }
}
@media screen and (max-width:750px){

    .project__card{
        height:400px;
        width: 300px;
        }
}
.contact{
    background: whitesmoke;
    background: linear-gradient(to top grey, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 75px 0px;
}

.contact__container{
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto; 
    height: 100%;
   padding: 30px 100px;
}
.contact__info{
    font-size: 25px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.icon{
    margin: 20px;
    display: flex;  
}
.icon i{
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    color: black;
    transition: all 0.5 ease-out;
    font-size: 25px;
    font-weight: bolder;
}
.icon:visited i{
    text-decoration: none;
    color: black;
}
.icon:hover i{
    color: royalblue;
    transition: all 0.5 ease-in;
}
.email a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
.email{
    margin:20px;
    display:flex;
}
.phone{
    margin:20px;
    display: flex;
}
.email:visited a{

    color: black;
    cursor: pointer;
    text-decoration: none;

}
.email:hover a{
    color: royalblue;
    transition: all 0.5s ease-in;
}
.phone a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
.phone:visited a{
    color: black;
    cursor: pointer;
    text-decoration: none;

}
.phone:hover a{
    color: royalblue;
    transition: all 0.5s ease-in;
}
@media screen and (max-width: 880px){
    .contact__info{
        font-size: 20px;
        font-weight: bolder;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .contact{
        background: whitesmoke;
        background: linear-gradient(to top grey, black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 35px 0px;
    }
}

